@import "tailwindcss";

@theme {
  
  --color-background-light: #f5f5f5;
  --color-background-dark: #212121;
  --color-text-light: #333333;
  --color-text-dark: #ffffff;
  --color-primary-light: #4caf50;
  --color-primary-dark: #81c784;
  --color-secondary-light: #ffc107;
  --color-secondary-dark: #ffd54f;
 
}